<div style="text-align:center">
    <button  style="width: 30%; height: 10%; background-color: white; color: gray; border-color: white;" class="btn btn-primary" (click)="setState('carrentalcompany')">Add car rental company</button> 
    <button  style="width: 30%; height: 10%;  background-color: white; color: gray; border-color: white; "  class="btn btn-primary" (click)="setState('carrentalcompanyadmin')">Add car rental administrator</button> 
    <p></p>
    <button  style="width: 30%; height: 10%; background-color: white; color: gray; border-color: white;" class="btn btn-primary" (click)="setState('airlinecompany')">Add airline company</button> 
    <button  style="width: 30%; height: 10%;  background-color: white; color: gray; border-color: white; "  class="btn btn-primary" (click)="setState('airlinecompanyadmin')">Add airline administrator</button> 
    <p></p>
</div>



<div  *ngIf = 'this.state == "carrentalcompany"'  style="text-align: center;" >
    <form (ngSubmit)="addCarRentalCompany(addCompanyForm)" #addCompanyForm="ngForm">
        <p></p>
        <div   id="cc" class = "companyname">
                <label  style="text-align: center;" for="inputAddress" >Company name  </label>
                <input class="form-control"  type="text"
                    placeholder="Company name"
                    required
                    name = "companyname"
                    #companyname="ngModel"
                    [(ngModel)]="carrentalcompany.name" >
                  
        </div>
            
        <div   id="cc" class = "address">
            <label  style="text-align: center;" for="inputAddress" >Address</label>
            <input class="form-control"  type="text"
                placeholder="Address"
                required
                name = "address"
                #address="ngModel"
                [(ngModel)]="carrentalcompany.address" >
              
        </div>

        <div   id="cc" class = "about">
            <label  style="text-align: center;" for="inputAddress" >About  </label>
            <input class="form-control"  type="text"
                placeholder="About"
                required
                name = "about"
                #about="ngModel"
                [(ngModel)]="carrentalcompany.about" >
              
        </div>

        <div id="cc">
            <p></p>
            <button  class="btn btn-primary"  type="submit" >Add company</button>  
        </div>
          
</form>

<p>

</p>

<table class="table">
    <thead>
            <tr>
              <th >Name  </th>
              <th scope="col">About  </th>
              <th scope="col">Address</th>
              <th scope="col">Action  <i  scope="col"  class="fas fa-sort"></i></th>
            </tr>
    </thead>
       
    <tbody>
            <tr *ngFor="let clickd of companies; index as i;">
  
                    <td > <a [routerLink] = "['/carrentals', companies[i].id]">{{companies[i].name}}</a> </td>
                    <td>{{companies[i].about}} </td>
                    <td>{{companies[i].address}} </td>
                    <td><i (click) = "onDeleteCompany(companies[i].id)" class="fas fa-trash-alt" style="color:rgb(0, 123, 255);   padding-left:5%;"></i></td>
            </tr> 

    </tbody>
    
</table>


    
</div>




<div  *ngIf = 'this.state == "carrentalcompanyadmin"'  style="text-align: center;" >
    <form   (ngSubmit)="addAdmin(addcaradminForm)" #addcaradminForm="ngForm" >
        <p></p>
        <div   id="cc" class = "firstname">
                <label  style="text-align: center;" for="inputAddress" >First Name  </label>
                <input class="form-control"  type="text"
                    placeholder="First Name"
                    required
                    name = "firstname"
                    #firstname="ngModel"
                    [(ngModel)]="user.firstName">                 
        </div>
            
        <div   id="cc" class = "lastname">
            <label  style="text-align: center;" for="inputAddress" >Last Name  </label>
            <input class="form-control"  type="text"
                placeholder="Last Name"
                required
                name = "lastname"
                #lastname="ngModel"
                [(ngModel)]="user.lastname" >
              
        </div>

        <div   id="cc" class= "username">
            <label  style="text-align: center;" for="inputAddress" >Username  </label>
            <input class="form-control"  type="text"
                placeholder="Username"
                required
                name = "username"
                #username="ngModel"
                [(ngModel)]="user.username" >
              
        </div>
        <div id="cc" class= "gender">
            <label for="inputState">Gender</label>
            <select id="inputState" class="form-control"   
            required
            name = "gender"
            #gender="ngModel"
            [(ngModel)]="user.gender">
              <option  value="male">Male</option>
              <option value = "female">Female</option>
            </select>
          </div>

    

        <div   id="cc"  class= "email">
            <label  style="text-align: center;" for="inputAddress" >Email  </label>
            <input class="form-control"  type="email"
                placeholder="Email"
                id="inputAddress"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                name = "email"
                #email="ngModel"
                [(ngModel)] = "user.email">

                <div *ngIf="email.touched">
                    <p *ngIf="email.errors?.pattern">Please enter the valid Email.</p>
                </div>
              
        </div>

        <div id="cc"  class= "password" > 
                <label for="inputPassword4"  >Password  </label>
                <input type="text"
                    type="password" 
                    class="form-control" 
                    placeholder="Password" 
                    required
                    pattern=".{5,}"    
                    name = "password"
                    #password="ngModel"    
                    [(ngModel)] = "user.password">
                    
                    <div *ngIf="password.touched">
                        <p *ngIf="password.errors?.pattern">Password must be at least 5 characters.</p>
                    </div>         
        </div>
     
        <div id="cc"  class= "nameofcompany"> 
            <label for="inputPassword4"  >Company name  </label>
            <input type="text"
                type="text" 
                class="form-control" 
                placeholder="Company name"     
                required
                name = "nameofcompany"
                #nameofcompany="ngModel"
                [(ngModel)] = "user.companyName" >
    </div>
         
    <div id="cc">
        <p></p>
        <button  class="btn btn-primary" type="submit" >Add administrator</button>  
    </div>

      
</form>


<p>
    
</p>

<table class="table">
    <thead>
            <tr>
              <th >First name </th>
              <th scope="col">Last Name</th>
              <th scope="col">Username </th>
              <th scope="col">Action  <i  scope="col"  class="fas fa-sort"></i></th>
            </tr>
    </thead>
       
    <tbody>
            <tr *ngFor="let clickd of admins; index as i;">
  
                    <td >{{admins[i].firstName}} </td>
                    <td>{{admins[i].lastname}} </td>
                    <td>{{admins[i].username}} </td>
                    <td><i (click) = "onDeleteAdmin(admins[i].id)" class="fas fa-trash-alt" style="color:rgb(0, 123, 255);   padding-left:5%;"></i></td>
            </tr> 

    </tbody>
    
</table>


</div>