<table class="table" >
    <thead>
      <tr>
        <th >Reservation Id <i  scope="col"></i> </th>
        <th scope="col">Pick-up<i  scope="col"  ></i></th>
        <th scope="col">Drop-off<i  scope="col" ></i></th>
        <th scope="col">Car Id<i  scope="col" ></i></th>
        <th scope="col">Company<i  scope="col" ></i></th>
        <th scope="col">Mark<i  scope="col" ></i></th>
        <th scope="col">Model<i  scope="col" ></i></th>
        <th scope="col">Seats<i  scope="col" ></i></th>
        <th scope="col">Year<i  scope="col" ></i></th>
        <th scope="col">Action<i  scope="col" ></i></th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let clickd of reservations; index as i; let last = last">
    
              <td>{{reservations[i].id}} </td>             
              <td>{{reservations[i].start}} </td>
              <td>{{reservations[i].end}} </td>
              <td >{{reservations[i].carId}}</td>
              <td>{{cars[i].nameOfCompany}} </td>
              <td>{{cars[i].mark}} </td>
              <td>{{cars[i].model}} </td>
              <td>{{cars[i].numberOfSeats}} </td>
              <td>{{cars[i].year}} </td>
              <td *ngIf = " this.flags[i] == true " ><button  style="width: 70%; height: 20%;" class="btn btn-primary" (click)="Redirect(cars[i], reservations[i])">Cancel this reservation</button>  </td>
              <td *ngIf = " this.flags[i] == false " > It is not possible to cancel this reservation.</td>
      </tr> 
    
    </tbody>
            
    
    </table>

    
    