
<table class="table" >
    <thead>
      <tr>
        <th >Reservation Id <i  scope="col"></i> </th>
        <th scope="col">Pick-up<i  scope="col"  ></i></th>
        <th scope="col">Drop-off<i  scope="col" ></i></th>
        <th scope="col">Car Id<i  scope="col" ></i></th>
        <th scope="col">Company<i  scope="col" ></i></th>
        <th scope="col">Mark<i  scope="col" ></i></th>
        <th scope="col">Model<i  scope="col" ></i></th>
        <th scope="col">Seats<i  scope="col" ></i></th>
        <th scope="col">Year<i  scope="col" ></i></th>
        <th scope="col">Action<i  scope="col" ></i></th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let clickd of reservations; index as i; let last = last">
    
              <td>{{reservations[i].id}} </td>             
              <td>{{reservations[i].start}} </td>
              <td>{{reservations[i].end}} </td>
              <td >{{reservations[i].carId}}</td>
              <td>{{cars[i].nameOfCompany}} </td>
              <td>{{cars[i].mark}} </td>
              <td>{{cars[i].model}} </td>
              <td>{{cars[i].numberOfSeats}} </td>
              <td>{{cars[i].year}} </td>
              <td *ngIf = " this.flags[i] == true " ><button  style="width: 70%; height: 20%;" class="btn btn-primary" (click)="Redirect(cars[i], reservations[i])">Cancel this reservation</button>  </td>
              <td *ngIf = " this.flags[i] == false " >
                
                <div *ngIf = " reservations[i].isCarRated == false">
                <div *ngIf = "this.carRatingFlags[i] == false" >Rate car:</div> 
                <div *ngIf = "this.carRatingFlags[i] == true" >Your rating for a company</div> 
                <ngb-rating *ngIf = "this.carRatingFlags[i] == false"  [max]="5" [(rate)]="currentCarRates[i]"   (rateChange)="rateCar(currentCarRates[i], i)" [readonly]="false"> </ngb-rating>
                <ngb-rating *ngIf = "this.carRatingFlags[i] == true"  [max]="5" [(rate)]="currentCarRates[i]"   [readonly]="true"> </ngb-rating>
                </div>    
                <div *ngIf = " reservations[i].isCarRated == true">
                  You've already rated this car for this reservation.
                </div>

                <div *ngIf = " reservations[i].isCompanyRated == false">
                <div  *ngIf = "this.companyRatingFlags[i] == false" >Rate company:</div>
                <div  *ngIf = "this.companyRatingFlags[i] == true" >Your rating for a company</div>
                <ngb-rating *ngIf = "this.companyRatingFlags[i] == false" [max]="5" [(rate)]="currentCompanyRates[i]"   (rateChange)="rateCompany(currentCompanyRates[i], i)"  [readonly]="false"></ngb-rating>
                <ngb-rating *ngIf = "this.companyRatingFlags[i] == true" [max]="5" [(rate)]="currentCompanyRates[i]"   [readonly]="true"></ngb-rating>
              </div>

              <div *ngIf = " reservations[i].isCompanyRated == true">
                You've already rated this company for this reservation.
              </div>
               
 
              </td>
      </tr> 
    
    </tbody>


    
    </table>

    
    