<table class="table">
        <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">About</th>
                  <th scope="col">Rating</th>
                </tr>
        </thead>
           
        <tbody>
                <tr *ngFor="let clickd of airlines; index as i;">
      
                        <td [routerLink] = "['/airlines', airlines[i].id]"> <a href="#">{{airlines[i].name}}</a> </td>
                        <td>{{airlines[i].about}} </td>
                        <td>{{airlines[i].rating}} </td>
                </tr>

        </tbody>
        
</table>
