<table class="table">
        <thead>
                <tr>
                  <th scope="col">Name <i (click)="sortByName()" scope="col"  class="fas fa-sort"></i> </th>
                  <th scope="col">About <i (click)="sortByAbout()" scope="col"  class="fas fa-sort"></i> </th>
                  <th scope="col">Rating <i (click)="sortByRating()" scope="col"  class="fas fa-sort"></i></th>
                </tr>
        </thead>
           
        <tbody>
                <tr *ngFor="let clickd of airlines; index as i;">
      
                        <td > <a [routerLink] = "['/airlines', airlines[i].id]">{{airlines[i].name}}</a> </td>
                        <td>{{airlines[i].about}} </td>
                        <td>{{airlines[i].rating}} </td>
                </tr>

        </tbody>
        
</table>
