<div   style="text-align: center;" >
    <form (ngSubmit)="editUser(userEditForm)" #userEditForm="ngForm">
        <p></p>
        <div   id="cc" class = "firstname">
            <label  style="text-align: center;" for="inputAddress" >First Name  </label>
            <input class="form-control"  type="text"
            required
            name = "firstname"
            #firstname="ngModel"
            placeholder="First Name"
            [(ngModel)]="user.firstName">
                  
        </div>
            
        <div   id="cc" class = "lastname">
            <label  style="text-align: center;" for="inputAddress" >Last Name  </label>
            <input class="form-control"  type="text"
            required
            name = "lastname"
            #lastname="ngModel"
            placeholder="Last Name"
            [(ngModel)]="user.lastname">
              
        </div> 

        <div   id="cc" class = "username">
            <label  style="text-align: center;" for="inputAddress" >Username  </label>
            <input class="form-control"  type="text"
            required
            name = "username"
            #username="ngModel"
            placeholder="Username"
            [(ngModel)]="user.username">
              
        </div>
        <div id="cc" class = "gender">
            <label for="inputState">Gender</label>
            <select id="inputState" class="form-control" 
            required
            name = "gender"
            #gender="ngModel"
            [(ngModel)]="user.gender">
              <option  value="male">Male</option>
              <option value = "female">Female</option>
            </select>
          </div>

        <div   id="cc" class = "email">
            <label  style="text-align: center;" for="inputAddress" >Email  </label>
            <input class="form-control"  type="email"
                placeholder="Email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                required
                name = "email"
                #email="ngModel"
                [(ngModel)] = "user.email">
                <div *ngIf="email.touched">
                    <p *ngIf="email.errors?.pattern">Please enter the valid Email.</p>
                </div>
              
        </div>

        <div id="cc" class = "password"> 
                <label for="inputPassword4"  >Password  </label>
                <input type="text"
                type="password"
                pattern=".{5,}"    
                required
                name = "password"
                #password="ngModel" 
                class="form-control" 
                placeholder="Password"     
                [(ngModel)] = "user.password" >
                <div *ngIf="password.touched">
                    <p *ngIf="password.errors?.pattern">Password must be at least 5 characters.</p>
                </div>         
        </div>
     
         
         
        <div id="cc">
            <p></p>
            <button  class="btn btn-primary" type="submit"> Edit </button>  
            <p><label>You're done here?<a style= "font-weight: bold;" (click) = logOut() href="" > Log out</a></label></p>
        </div>

      
</form>


</div>
