<div class="form-group" style="text-align: center;" >
        <form (ngSubmit)="logIn(stockForm)" #stockForm="ngForm">
            <p></p>
            <div   id="cc" class="username">
                    <label  style="text-align: center;" for="inputAddress" >username  </label>
                    <input class="form-control"  type="text"
                        placeholder="Username"
                        required
                        id="inputAddress"
                        name = "username"
                        #username="ngModel"
                        [(ngModel)] = "login.Username"  >
                      
            </div>
            <div *ngIf="username.errors && username.errors.required">
                Neki tekst
                <i class="far fa-check-circle fa-1x" style="color: forestgreen;" ></i>

            </div>
        
            <div id="cc"  > 
                    <label for="inputPassword4"  >password  </label>
                    <input type="text"
                        type="password" 
                        class="form-control" 
                        placeholder="Password"
                        [value]="login.Password"
                        (input)="login.Password=$event.target.value" 
                       >
            </div>
         
             
             
     
            <div id="cc">
                <p></p>
                <button  class="btn btn-primary" type="submit">Loggin</button>  
                <p><label>Don't have an account?<a style= "font-weight: bold;" routerLink = "/registration" > Sign up</a></label></p>
            </div>
          
    </form>


  
    
</div>