<div   style="text-align: center;" >
        <form>
            <p></p>
            <div   id="cc">
                    <label  style="text-align: center;" for="inputAddress" >username  </label>
                    <input class="form-control"  type="text"
                        placeholder="Username"
                        id="inputAddress"
                        [value]="login.Username"
                        (input)="login.Username=$event.target.value"  >
                      
            </div>
                
        
            <div id="cc"  > 
                    <label for="inputPassword4"  >password  </label>
                    <input type="text"
                        type="password" 
                        class="form-control" 
                        placeholder="Password"
                        [value]="login.Password"
                        (input)="login.Password=$event.target.value" 
                       >
            </div>
         
             
             
     

          
    </form>


  
    <div id="cc">
        <p></p>
        <button  class="btn btn-primary" (click)="logIn()">Loggin</button>  
        <p><label>Don't have an account?<a style= "font-weight: bold;" routerLink = "/registration" > Sign up</a></label></p>
    </div>
</div>