#cc {
    margin: auto;
    position:relative;
    top:25%;
    width: 35%;
    height: 60%;
}

#dd{
    margin: auto;
    position:relative;
    top:25%;
    width: 35%;
    height: 40%;
}

.username .ng-valid,
.password .ng-valid {
    background-color: rgb(199, 255, 199);
}
.username .ng-invalid,
.password .ng-invalid {
    background-color: pink;
}
