<div *ngIf="this.cookieValue == 'our cookie value'">
  You are logged in as {{this.role}} cookie: {{this.cookieValue}}
</div>
<div *ngIf="this.cookieValue != 'our cookie value'">
  Not logged in, please <a style= "font-weight: bold;" routerLink = "/login" >Sign in </a> or <a style= "font-weight: bold;" routerLink = "/registration" >Register </a>
</div>
 

<nav mat-tab-nav-bar  animationDuration="2ms" >
  <a mat-tab-link label="First" routerLink = "airlines" >Airlines</a> 
  <a mat-tab-link label="Second"  routerLink = "carrentals" >Car Rentals</a>
  <a mat-tab-link label="Second"  routerLink = "hotels" >Hotels</a>
  <a mat-tab-link *ngIf="this.cookieValue != 'our cookie value'"  label="Third" routerLink="login">Login</a>
  <a mat-tab-link *ngIf="this.cookieValue == 'our cookie value'"  (click) = "onSomething()" label="Forth" routerLink="profile">Profile</a>
</nav>

