<p>home-page works!</p>


<h1>{{logged}}</h1>

<h1>cookie {{ this.cookieValue}}</h1>
<h2>jwt: {{this.jwt}}</h2>
<div *ngIf="this.cookieValue == 'our cookie value'">
    ULOGOVAN
</div>
<div *ngIf="this.cookieValue != 'our cookie value'">
    IZLOGOVAN 
</div>
 

<nav mat-tab-nav-bar  animationDuration="0ms">
  <a mat-tab-link label="First" routerLink = "airlines" >Airlines</a>
  <a mat-tab-link label="Second"  routerLink = "hotels" >Hotels</a>
  <a mat-tab-link *ngIf="this.cookieValue != 'our cookie value'"  label="Third" routerLink="login">Login</a>
</nav>

