<div id="cc">
    <table id="fixedheight">   
        <tr >
            <td style="text-align: center;" colspan="3" ><label style=" text-align: center;  color:  black; font-size: x-large;">Car #{{carId}}:</label></td>
        </tr>
        <tr >
           <td><p></p></td>
        </tr>
    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Compnay name: </label>
        </td>
        <td  style="padding-left:10px;">
            <label id="dd" style="text-align: center;" for="inputAddress" >{{companyName}}  </label>
        </td>
    </tr>
    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Car mark:  </label>
        </td>
        <td  style="padding-left:10px;">
            <label  id="dd" style="text-align: center;" for="inputAddress" >{{mark}}  </label>
        </td>
    </tr>

    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Car model:  </label>
        </td>
        <td  style="padding-left:10px;">
            <label  id="dd" style="text-align: center;" for="inputAddress" >{{model}}  </label>
        </td>
    </tr>

    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Type:  </label>
        </td>
        <td  style="padding-left:10px;">
            <label  id="dd" style="text-align: center;" for="inputAddress" >{{type}}  </label>
        </td>
    </tr>

    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Seats:  </label>
        </td>
        <td  style="padding-left:10px;">
            <label  id="dd" style="text-align: center;" for="inputAddress" >{{numberOfSeats}}  </label>
        </td>
    </tr>

    
    <tr>
        <td>
            <label  style="text-align: center;" for="inputAddress" >Year:  </label>
        </td>
        <td  style="padding-left:10px;">
            <label id="dd" style="text-align: center;" for="inputAddress" >{{year}}  </label>
        </td>
    </tr>

   
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
   
    

    
</table>

</div>

