#cc {
    margin: auto;
    position:relative;
    top:25%;
    width: 45%;
    height: 60%;
}

#dd{
    margin: auto;
    position:relative;
    top:25%;
    width: 35%;
    height: 40%;
}

.companyname .ng-valid.ng-touched,
.address .ng-valid.ng-touched,
.about .ng-valid.ng-touched {
    border-color: rgb(36, 148, 36);
}
.companyname .ng-invalid.ng-touched,
.address .ng-invalid.ng-touched,
.about .ng-invalid.ng-touched {
    border-color:red;
}

#leftalign{
    font-weight: 500;
    margin-left: 30%;
    text-align: left;
}

#block_container
{
   
    text-align:cnter;
}
#bloc1, #bloc2
{
    display:inline;
}

.leftalign{
    font-weight: 500;
    margin-right: 30%;
    text-align: left;
}
.aa{
    text-align: center;
}